<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context ">

    <bean id="husband" class="org.kee.spring.test.bean.Husband" >
        <property name="wifeName" value="小韩寒"/>
        <property name="marriageDate" value="2005-09-09"/>
    </bean>

    <!--扫描注册bean包位置-->
    <context:component-scan base-package="org.kee.spring.context.support,org.kee.spring.test.converter"/>
    
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClass" value="com.mysql.cj.jdbc.Driver" />
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/spring?useSSL=false" />
        <property name="username" value="root" />
        <property name="password" value="123" />
    </bean>
    
    <bean id="jdbcTemplate" class="org.kee.spring.jdbc.support.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    
    <bean id="jdbcService" class="org.kee.spring.test.service.JdbcService" />

</beans>