<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context ">

    <!--需自动注册的Bean的包位置（Bean需标记注解：目前是 @Component）-->
    <context:component-scan base-package="org.kee.spring.test.bean11" />

</beans>